* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial, sans-serif;
    background-color: white;
    min-height: 100vh;
    padding-top: 80px; /* Agar konten tidak tertutup header */
}

/* Kontainer utama untuk seluruh layout */
.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #29465d;
    padding: 10px 20px;
    color: white;
    height: 80px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Header di atas sidebar */
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 50px;
    height: auto;
    margin-right: 20px;
    border-radius: 50%;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.profile-logout {
    display: flex;
    align-items: center;
}

.profile {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.username {
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.logout a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 15px;
    background-color: #800e13;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-weight: bold;
}

.logout a:hover {
    background-color: #640d14;
}

/* Navigation */
.navigation {
    background-color: #566D7e;
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
    padding-left: 5px;
}

.nav-list {
    list-style: none;
    display: flex;
    padding: 0;
}

.nav-list li {
    padding: 0 15px;
}

.nav-list li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s ease;
}

.nav-list li a:hover {
    background-color: #7f92a0;
    border-radius: 5px;
}

/* Layout untuk Sidebar dan Content */
.row {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex: 1;
}

/* Sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #29465d;
    color: white;
    width: 15%;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    position: sticky;  /* Menjadikan sidebar sticky */
    top: 80px; /* Sidebar akan menempel di bawah header (80px adalah tinggi header) */
    height: 100vh; /* Tinggi sidebar otomatis mengikuti kontennya */
    z-index: 900; /* Sidebar harus berada di atas konten, tapi di bawah header */
}

.sidebar h2 {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: bold;
}

.sidebar-list {
    list-style: none;
    padding: 0;
}

.sidebar-list li {
    margin-bottom: 15px;
}

.sidebar-list li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 12px;
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.sidebar-list li a:hover {  
    background-color: #7f92a0;
}

/* Dropdown for Data User (hidden by default) */
.sidebar-list li ul {
    display: none; /* Hide the submenu by default */
}

.sidebar-list li.active > ul {
    display: block; /* Show the submenu when parent is active */
}

/* Content */
.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1; /* Konten mengisi ruang sisa */
    background: #fff;
    position: relative;
    padding: 40px;
    height: 100%;  /* Pastikan konten juga memiliki tinggi penuh */
}

/* Form Layout */

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-size: 16px;
    color: #29465d;
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
}

.form-group input, .form-group textarea, .form-group select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

.form-group input[type="file"] {
    padding: 5px;
}

.form-group textarea {
    resize: vertical;
}

p {
    font-size: 12px;
    color: #d9534f;
    margin-bottom: 10px;
    display: block;
}

.submit-btn {
    padding: 12px 20px;
    background-color: #29465d;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

.submit-btn:hover {
    background-color: #243c4a;
}

/* Tombol Hapus Gedung */
.delete-btn {
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #d9534f; /* Warna merah khas untuk tombol hapus */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
}

/* Tombol Hapus Gedung - Hover */
.delete-btn :hover, .btn-delete:hover {
    background-color: #c9302c; /* Warna lebih gelap ketika dihover */
}

/* Tombol Hapus Gedung - Fokus */
.delete-btn :focus, .btn-delete:focus {
    outline: none; /* Menghilangkan outline fokus */
    border: 2px solid #c9302c;
}

.tambah-pengguna {
    padding: 10px 20px;
    background-color: #29465d;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;

    margin-top: 5px;
    align-self: flex-start;
    font-size: 14px;
}

.div .row {
    background: white;
}

.building-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-bottom: 20px;
}

.container .button-group a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    background-color: #29465d;
    margin-top: 20px;
    margin-right: 20px;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 10px;
}

.button-group {
    display: flex;
    justify-content: center;
}

.form-group label {
    display: block;
    text-align: left;
    margin: 15px 2px 14px;
    font-size: 14px;
}

/* Gaya kustom untuk tabel */
table.dataTable {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}

table.dataTable th,
table.dataTable td {
    border: 1px solid #ddd;
    padding: 30px;
    text-align: left;
}

table.dataTable th {
    background-color: #f2f2f2;
}

.wide-column {
    width: 350px; /* Sesuaikan dengan lebar yang diinginkan */
    text-align: left;
}

.wide-column-2 {
    width: 100px; /* Sesuaikan dengan lebar yang diinginkan */
    text-align: left;
}

/* Gaya tambahan untuk baris yang dipilih */
tr.selected {
    background-color: #f0f0f0;
}

a {
    color: black;
    text-decoration: none;
}

.dt-left {
    text-align: left;
}

.edit-button {
    background-color: #29465d;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    padding: 5px 15px;
}

.delete-button {
    background-color: #800e13;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    padding: 5px 5px;
}

/* Footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #566D7e;
    height: 200px;
    width: 100%;
    color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.footer-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    max-width: 100%;
    border-radius: 8px;
}

.footer-center, .footer-right {
    flex: 1;
    text-align: left;
}

.footer-center h3, .footer-right h3 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.footer-center ul, .footer-right ul {
    list-style: none;
    padding: 0;
}

.footer-center ul li, .footer-right ul li {
    margin: 5px 0;
    font-size: 16px;
}

/* Modal Style */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.close {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modal-content h2 {
    text-align: center;
    margin-bottom: 10px;
}

.popup-form {
    margin-bottom: 15px;
}

.popup-form label {
    display: block; /* Pastikan label tampil dalam baris baru */
    font-size: 15px;
    text-align: left;
    margin: 0px 0px;
    font-weight: bold;
}

.ppopup-form input {
    width: 100%; /* Lebar input mengikuti kontainer */
    padding: 8px;
    font-size: 32px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 5px;
}
#editNama, #editEmail {
    width: 95%;
    margin-bottom: 10px;
    height: 23px;
    font-size: 15px;
}

#editRole {
    height: 23px;
    font-size: 15px;
}

button.edit-button {
    margin-left: 81%;
}

td .action-column {
    background-color: #fff;
}

.div #example_filter.dataTables {
    margin-bottom: 10px;
}

#example_filter.dataTables_filter {
    margin-bottom: 10px;
}

#example_length.dataTables_length {
    margin-bottom: 5px;
}

#example_wrapper {
    width: 100%;
}

